@import "../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 20px 10px;
  border-radius: 5px;
  background-color: $primaryGrayColor;
}
