// Screen sizes
$mobile: 320px;
// $mobileLandscape: 1023px;
// $tablet: 768px;
$desktop: 1280px;

// // Colors
$headerBackgroundColor: #130841;
$bodyBackgroundColor: #49495f;
$lightColor: #e2dfe1;
$textColor: #111111;
$secondaryTextColor: #7d7d7d;
$activeColor: #2282f1;
$activeLinkColor: #64a4ee;
$orangeColor: #f27c32;
$hoverOrangeColor: #e7884d;
$primaryGrayColor: #1e1e35;
// $secondaryGrayColor: #535353;
// $errorColor: #d60202;

// animation
$transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);

// // shadows
// $primaryShadow: 7px 4px 14px rgba(0, 0, 0, 0.11);
// $focusInputShadow: 0 0 0 0.1rem rgba(245, 146, 86, 0.5);
