@import "../../styles/variables.scss";

.form {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.input {
  font-size: 16px;
  width: 220px;
  padding: 8px 10px;
  outline: none;
  border: none;
  border-radius: 3px;
}

.button {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  border: none;
  border-radius: 0 3px 3px 0;
  background-color: $lightColor;

  cursor: pointer;
}

.image {
  width: 100%;
}
